* {
    font-family: "hack", sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgb(3, 9, 5);
    color: #529e2c;
}


#workspaces button {
    padding: 0 10px;
    margin: 0px;
    color: #529e2c;
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 2px dotted;
    border-bottom-color: #234413;

}

#workspaces button.active {
    color: #7bff5a;
    background: transparent;
    border-bottom: 2px solid #7bff5a;
}

#workspaces button:hover {
    transition: none;
    animation:none;
    border: none;
    padding-bottom: 8px;
    box-shadow: inset 0 -2px 0 #234413;

}

#window {
    padding: 0 10px;
    color: #79c975;
}

#clock {
    font-size: 15px;
    padding: 0 12px;
}

#cpu, #memory, #network, #pulseaudio {
    padding: 0 10px;
}

#tray {
    padding: 0 10px;
}